* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  word-wrap: break-word;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;

}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1300px;
}

.btn {
  width: 116px;
  font-size: 16px;
}

.btn:focus,
.btn:active,
.btn:hover {
  outline: none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.font-48px {
  font-size: 48px;
  color: #222;
}

.font-32px {
  font-size: 32px;
  color: #222;
}

.font-24px {
  font-size: 24px;
  color: #222;
}

.font-18px {
  font-size: 18px;
  line-height: 25px;
  color: #222;
}

/* Media Query */
@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {}